nav ul a,
nav .brand-logo {
  color: #ec523f;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  top:-10%;
  
 }
  .parallax-container .section {
    width: 100%;
    z-index: 4;
  }

  .parallax-container .section {
    position: absolute;
  }

  {
    color: black;
  }

.parallax .abc
{
  height: 200px !important;
}
 
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height:100%;
}

.slide-text
{
  z-index: 10;
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.btn-flat {
  border: #ec523f ;
  border-style: solid ;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  padding-bottom: 30px;
}
#modal1
{
  background-color: #f5f5f5;
}

.page-footer ul li{
  display: inline;
  padding-right: 20px;
  list-style: none;
}
.page-footer ul li a
{
  text-decoration: none;
  cursor: pointer;
}

.count-number
{
  outline-color: #ec523f;
  font-weight: bolder;
  font-size: 120px;
}

.error-404
{
  outline-color: black;
  font-weight: bolder;
  font-size: 80px;
  color: #ec523f;
}

.card
{
  background: transparent;
  border-radius: 4%;
}