<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TeleDoc | Doctor Over Phone.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">TeleDoc</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/ngolanding" target="_blank">NGOs Login</a></li>
        <li><a class="waves-effect waves-red btn-flat modal-trigger" href="#modal1">Get Connected</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/ngolanding" target="_blank">NGOs Login</a></li>
        <li><a class="waves-effect waves-red btn-flat modal-trigger" href="#modal1">Get Connected</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars red-text"></i></a>
    </div>
  </nav>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        </div>
    </div>
    <div class="slider fullscreen">
      <ul class="slides">
      <li>
        <div class="overlay"></div>
        <img src="static/img/bgr2.jpg">
        <div class="caption left-align slide-text">
          <br>
          <h3 class="red-text"><br><br><br><br>Pre Child Care</h3>
          <hr class="left" color="#FAEBD7" width="50%">
          <h5 class="white-text text-lighten-3" style="margin-bottom: 15px;"><br>If you think handling baby in last few months is difficult we are here to help you.<br> 
          <br>
          Get answers to all the questions that haunts you during this period.</h5>
        </div>
      </li>
      <li>
        <div class="overlay"></div>
        <img src="static/img/bgr.jpg">
        <div class="caption left-align slide-text">
          <br>
          <h3 class="red-text"><br><br><br><br>Post Child Care</h3>
          <hr class="left" color="#FAEBD7" width="50%">
          <h5 class="white-text text-lighten-3" style="margin-bottom: 15px;"><br>If its your first pregnancy and you find it difficult to remember when to give child food and when to give vaccine.<br> 
          <br>
          We are here to assist you and remind you so that you can enjoy upbringing the new one.</h5>
        </div>
      </li>
      </ul>
    </div>
  </div>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
            <span class="red-text center-align"><h5>Get Connected.</h5></span>
            <hr>
        </div>
      <div class="row">
        <p>Please Provide us contact details so that we can contact you.</p>
      </div>
       {% if error %}
        <div class="row">
          <p class="red-text">{{ error }}</p>
          </div>
        {% endif %}
      <div class="row">
        <form action="" method="post">
          <div class="row">
            <div class="input-field col l3 s12">
              <i class="fa fa-user prefix"></i>
              <input type="text" name="name" value="{{request.form.name}}"class="validate" required="required">
              <label for="name">Name</label>
            </div>
            <div class="input-field col l3 s12">
              <i class="fa fa-phone prefix"></i>
              <input type="text" name="phone" value="{{request.form.phone}}" class="validate" required="required">
              <label for="phone">Phone</label>
            </div>
            <div class="input-field col s12 l3">
              <i class="fa fa-envelope prefix"></i>
              <input type="email" name="email" value="{{request.form.email}}" class="validate" required="required">
              <label for="email">Email</label>
            </div>
            <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action" style="margin-bottom: -50px; margin-left: 30px;">Get Started.<i class="fa fa-paper-plane right"></i>
            </button> 
          </div>
        </form>
       
      </div>
     </div>
  </div>


  <div class="container">
  <div class="row">
    <br><br><br>
    <span class="red-text center-align">
    <h4>WHO WE ARE ?</h4></span>
    <hr>
    <br>
    <p style="font-size: 18px;" class="center brown-text">
     We are TeleDoc. We understand that during and after pregnancy you have many things to ask and many things to care about, which is very much difficult.
      <br>
      <strong>We are here to assist you so that you can bring a better child to this world.</strong>
      </p>
    <br><br>
  </div>
    <div class="row">
      <span class="center red-text">
      <h5><a class="waves-effect waves-red btn-flat modal-trigger" href="#modal1">Get Connected</a></h5></span>
      <br>
      <br>
    </div>
  </div>

  <div id="counter" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center white-text">
          <p><br><br><br></p>
          <div id="count" class="count-number"></div>
        </div>
        <div class="row">
          <p><br><br></p>
          <h5 class="header center white-text">Mothers have received the advantage and care of TeleDoc.</h5>
          <p class="white-text center"><br><br><br>
          <center><h5><a class="waves-effect waves-white btn-flat modal-trigger center white-text" href="#modal1">Get Started</a></h5>
          <center></p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/img/bgr.jpg" alt="Unsplashed background img 3"></div>
  </div>


  

  <footer class="page-footer red lighten-2">
    <div class="container">
      <div class="row center white-text">
        <ul>
        <li><a href="https://www.facebook.com/snapego" target="_blank" class="white-text"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-google-plus fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-envelope fa-2x"></i></a></li>

        </ul>
        </div>
        <div class="row center">
          <ul>
            <li><a class="brown-text" href="#!">Terms and Conditions</a></li>
            <li><a class="brown-text" href="#!">Careers</a></li>
            <li><a class="brown-text" href="#!">Privacy</a></li>
            <li><a class="brown-text" href="#!">Team</a></li>
            <li><a class="brown-text" href="http://snapego.wordpress.com" target="_blank">Blog</a></li>
            <li><a class="brown-text" href="#!">News</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <div class="row">
        <div class="col l6">
          <span class="brown-text">
          &copy; 2015 | TeleDoc</span>
        </div>
        <div class="col l6 right brown-text">
          <p class="right">Handcrafted With <span class="white-text"><i class="fa fa-heart fa-2x"></i></span> in India.</p> 
        </div>
        </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>
  <script src="static/js/jQuerySimpleCounter.js"></script>
  <script type="text/javascript">
  var chk=1;
  $(function() {
  var oTop = $('#counter').offset().top - window.innerHeight;
    $(window).scroll(function(){
    var pTop = $('body').scrollTop();
    
    if( pTop > oTop && chk > 0){
        $('#count').jQuerySimpleCounter({
          start:50,
          end:1186,
          duration: 4000
        });
        chk=0;
    }
  });
});
  </script>

</body>
</html>
